
    <div class="eaten">
        <h5><span>{{burger_id}}</span> : {{burger_name}} </h5>
        {{!-- <button type="submit" class="delete-btn" data-id="{{burger_id}}">delete</button> --}}
    </div>
    


   



